@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(#007Bff, #FFD700);
}

.logo {
    width: 110px;
    height: 40px;
    position: relative;
    top: 55px;
    left: 470px;

}

.title-name {
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 60px;

}

.container {
    width: 300px;
    height: 500px;
    margin: 70px auto;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.register-btn input {
    color: white;
    background-color: red;
    border: none;
    position: relative;
    left: 60px;
}

.login {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    color: #fff;

}

.login-btn input {
    color: white;
    background-color: red;
    border: none;
    position: relative;
    left: 60px;
}


.cc {
    color: white;
    text-decoration: underline;
}

/* .login-btn {

    position: relative;
    left: 60px;
    color: #fff;
    background-color: red;
} */
