@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(#007Bff, #FFD700);
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.register-btn {
    color: red;
}

.login {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    color: #fff;

}

.login-btn {
    color: red;
}

a {
    color: white;
    text-decoration: underline;
}
