@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

.accordion-title {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #000;
}

.accordion-title .menu {
    margin: 0 auto;
    display: none;
}

.accordion-title.open .menu {
    display: block;
}

.menu {
    position: absolute;
    right: 0;
    z-index: 1;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.submit {
    vertical-align: middle;
    width: 30px;
}

.Trash {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: .3s;
}

.Update {
    height: 35px;
    top: 10px;
    margin-left: flex;
    align-items: center;
}

.modal {
    margin: 0 auto;
    display: none;
}

.modal.open {
    display: block;
}
