@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 10px;
    background: #186AC9;
}

/* アコーディオンメニュー */
.accordion-title {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #000;
}

.accordion-title .menu {
    margin: 0 auto;
    display: none;
}

.accordion-title.open .menu {
    display: block;
}

.menu {
    position: absolute;
    right: 0;
    z-index: 1;
}




/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.submit {
    vertical-align: middle;
    width: 30px;
}

.post-cell {
    position: relative;
}

/*投稿*/
.card-body {
    padding: 10px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
}

/*削除ボタン*/
.delete-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.update-btn {
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 2;
}

.Trash {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: .3s;
}

.Trash:hover {
    background-image: url('images/trash-h.png');
}

.Update {
    height: 35px;
    top: 10px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.Upload {
    background: #fff;
    height: 95px;
    margin-top: 90px;
}

.send-btn {
    background: #fff;
    border: none;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal.open {
    display: block;
}


.post-cell {
    position: relative;
}

.login {
    background: linear-gradient(#007Bff, #FFD700);
}
